apilayer_exercicio/target/classes/apilayer_exercicio.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" host="apilayer.net" port="80" basePath="/api" doc:name="HTTP Request Configuration"/>
    <flow name="apilayer_exercicioFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/variation" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Logger" message="#[message.payloadAs(java.lang.String)]"/>
        <set-variable variableName="access_key_value" value="#[json:access_key]" doc:name="Variable"/>
        <set-variable variableName="dataInicio" value="#[json:start-data]" doc:name="Variable"/>
        <set-variable variableName="dataFinal" value="#[json:end-date]" doc:name="Variable"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/live" method="GET,POST" doc:name="HTTP">
            <http:request-builder>
                <http:query-param paramName="access_key" value="#[flowVars.access_key]"/>
            </http:request-builder>
        </http:request>
        <logger level="INFO" doc:name="Logger" message="#[message.payloadAs(java.lang.String)]"/>
    </flow>
</mule>
