create_a_while_loop/target/classes/create_a_while_loop.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8085" doc:name="Inbound HTTP call"/>
    <http:request-config name="HTTP_Request_Configuration" host="abc.com" doc:name="HTTP Request Configuration" port="8081"/>
    <flow name="main_flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/test" doc:name="Inbound HTTP call"/>
        <set-variable variableName="counter" value="#[xpath3('//callfrequency')]" doc:name="Storing the call frequency"/>
        <flow-ref name="while_loop" doc:name="Call while Loop"/>
    </flow>
    <flow name="while_loop">
        <http:request config-ref="HTTP_Request_Configuration" path="testoutbound" method="PATCH" doc:name="outboundCall"/>
        <choice doc:name="Choice">
            <when expression="#[flowVars.counter >1]">
                <set-variable doc:name="Counter deduction" value="#[flowVars.counter - 1]" variableName="counter"/>
                <flow-ref name="while_loop" doc:name="while_loop"/>
            </when>
            <otherwise>
                <logger message="The loop breaks" level="INFO" doc:name="The loop breaks"/>
            </otherwise>
        </choice>
    </flow>
</mule>
